# Byte-compiled 
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Testing / coverage
.coverage
*.cover
*.py,cover
htmlcov/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc
*.pytest_cache/
pytestdebug.log

# Logs
logs/
*.log

# Environment variables
.env
.env.*.local

# IDEs and editors
.vscode/ 
#maybe we should share .vscode settings?
.idea/
*.sublime-project
*.sublime-workspace
# Vim swap files
*.swp
*.swo
*.swn

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# Windows
Thumbs.db
